In [1]:
import pandas as pd

## Reading the Dataset

In [39]:
df = pd.read_parquet('data/yellow_tripdata_2019-10.parquet')

In [40]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-10-01 00:19:55,2019-10-01 00:23:57,1.0,0.4,1.0,N,48,163,2,4.5,3.0,0.5,0.00,0.00,0.3,8.30,2.5,None
1,1,2019-10-01 00:40:19,2019-10-01 00:55:17,2.0,4.3,1.0,N,144,141,1,14.5,3.0,0.5,2.00,0.00,0.3,20.30,2.5,None
2,1,2019-10-01 00:06:52,2019-10-01 00:21:23,1.0,5.0,1.0,N,137,80,1,17.0,3.0,0.5,5.20,0.00,0.3,26.00,2.5,None
3,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,4,-2.5,-0.5,-0.5,0.00,0.00,-0.3,-3.80,0.0,None
4,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0,None
5,2,2019-10-01 00:20:15,2019-10-01 00:20:29,1.0,0.0,1.0,N,193,193,1,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0,None
6,2,2019-10-01 00:22:41,2019-10-01 00:22:48,1.0,0.0,1.0,N,193,193,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0,None
7,2,2019-10-01 00:23:14,2019-10-01 00:23:18,1.0,0.0,1.0,N,193,193,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80,0.0,None
8,1,2019-10-01 00:03:00,2019-10-01 00:13:37,3.0,2.2,1.0,N,163,239,1,10.5,3.0,0.5,2.85,0.00,0.3,17.15,2.5,None
9,1,2019-10-01 00:23:09,2019-10-01 00:50:34,1.0,13.0,1.0,N,234,9,1,37.5,3.0,0.5,9.45,6.12,0.3,56.87,2.5,None

In [41]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

We can easily visualize the dataset sql schema by using pandas as follows:

In [42]:
print(pd.io.sql.get_schema(df, 'taxi_2019'))

CREATE TABLE "taxi_2019" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" TEXT
)

## Data Ingestion

So we can now create the table and inject the data into it.

In [43]:
from sqlalchemy import create_engine
import pyarrow.parquet as pq
from time import time

In [44]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi', echo=False)

We will iterate over the dataset and insert the data into the table.

In [45]:
pf = pq.ParquetFile('data/yellow_tripdata_2019-10.parquet')

In [46]:
for i, batch in enumerate(pf.iter_batches(batch_size=100000)):
    start = time()
    batch.to_pandas().to_sql('taxi_2019', engine, if_exists='append')
    print(f'Batch: {i}. Elapsed time: {time() - start:.2f} sec')

Batch: 0. Elapsed time: 6.63 sec
Batch: 1. Elapsed time: 5.00 sec
Batch: 2. Elapsed time: 5.28 sec
Batch: 3. Elapsed time: 5.21 sec
Batch: 4. Elapsed time: 5.17 sec
Batch: 5. Elapsed time: 5.02 sec
Batch: 6. Elapsed time: 4.88 sec
Batch: 7. Elapsed time: 4.73 sec
Batch: 8. Elapsed time: 4.73 sec
Batch: 9. Elapsed time: 5.70 sec
Batch: 10. Elapsed time: 5.70 sec
Batch: 11. Elapsed time: 4.77 sec
Batch: 12. Elapsed time: 4.69 sec
Batch: 13. Elapsed time: 5.22 sec
Batch: 14. Elapsed time: 5.44 sec
Batch: 15. Elapsed time: 4.95 sec
Batch: 16. Elapsed time: 4.98 sec
Batch: 17. Elapsed time: 4.42 sec
Batch: 18. Elapsed time: 4.77 sec
Batch: 19. Elapsed time: 4.93 sec
Batch: 20. Elapsed time: 4.67 sec
Batch: 21. Elapsed time: 4.58 sec
Batch: 22. Elapsed time: 4.80 sec
Batch: 23. Elapsed time: 4.99 sec
Batch: 24. Elapsed time: 4.75 sec
Batch: 25. Elapsed time: 4.81 sec
Batch: 26. Elapsed time: 4.66 sec
Batch: 27. Elapsed time: 4.70 sec
Batch: 28. Elapsed time: 4.69 sec
Batch: 29. Elapsed time: 4.75 sec
Batch: 30. Elapsed time: 5.20 sec
Batch: 31. Elapsed time: 4.99 sec
Batch: 32. Elapsed time: 5.18 sec
Batch: 33. Elapsed time: 4.80 sec
Batch: 34. Elapsed time: 5.07 sec
Batch: 35. Elapsed time: 4.73 sec
Batch: 36. Elapsed time: 5.19 sec
Batch: 37. Elapsed time: 4.67 sec
Batch: 38. Elapsed time: 4.90 sec
Batch: 39. Elapsed time: 4.71 sec
Batch: 40. Elapsed time: 4.83 sec
Batch: 41. Elapsed time: 5.18 sec
Batch: 42. Elapsed time: 5.26 sec
Batch: 43. Elapsed time: 5.16 sec
Batch: 44. Elapsed time: 5.49 sec
Batch: 45. Elapsed time: 5.33 sec
Batch: 46. Elapsed time: 5.30 sec
Batch: 47. Elapsed time: 5.60 sec
Batch: 48. Elapsed time: 5.24 sec
Batch: 49. Elapsed time: 5.43 sec
Batch: 50. Elapsed time: 5.54 sec
Batch: 51. Elapsed time: 5.47 sec
Batch: 52. Elapsed time: 6.21 sec
Batch: 53. Elapsed time: 5.98 sec
Batch: 54. Elapsed time: 5.97 sec
Batch: 55. Elapsed time: 6.18 sec
Batch: 56. Elapsed time: 6.05 sec
Batch: 57. Elapsed time: 5.96 sec
Batch: 58. Elapsed time: 6.51 sec
Batch: 59. Elapsed time: 6.46 sec
Batch: 60. Elapsed time: 6.61 sec
Batch: 61. Elapsed time: 6.50 sec
Batch: 62. Elapsed time: 6.35 sec
Batch: 63. Elapsed time: 6.48 sec
Batch: 64. Elapsed time: 6.61 sec
Batch: 65. Elapsed time: 6.50 sec
Batch: 66. Elapsed time: 6.03 sec
Batch: 67. Elapsed time: 6.24 sec
Batch: 68. Elapsed time: 6.46 sec
Batch: 69. Elapsed time: 6.11 sec
Batch: 70. Elapsed time: 6.31 sec
Batch: 71. Elapsed time: 6.37 sec
Batch: 72. Elapsed time: 0.75 sec